// Firestore Rules: MODO DE DESARROLLO (PERMISIVO)
// ADVERTENCIA: No usar en producción. Estas reglas permiten acceso total a cualquier usuario autenticado.

rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permite el acceso de lectura y escritura a cualquier documento en cualquier colección
    // a cualquier usuario que haya iniciado sesión en la aplicación.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
